# GoTrue
src/GoTrue/bin
src/GoTrue/obj
src/GoTrue/.idea
src/GoTrue/*.DotSettings.user

# GoTrueExample
src/GoTrueExample/bin
src/GoTrueExample/obj
src/GoTrueExample/.idea
src/GoTrueExample/*.DotSettings.user

# GoTrueTest
src/GoTrueTest/bin
src/GoTrueTest/obj
src/GoTrueTest/.idea
src/GoTrueTest/*.DotSettings.user

# vscode
.vscode

# idea
.idea

# .ionide
.ionide
.fake

# MacOS
.DS_Store

*.DotSettings.user